---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Divider from '../components/Divider.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="p-4 leading-relaxed min-h-screen">
		<Header />
		<main class="max-w-3xl border border-[var(--theme-border)] mx-auto mt-6 p-8">
			<div class="mb-4">
				<div>
					<p class="text-[var(--theme-text)] text-3xl">Unies Ananda Raja</p>
					<p class="text-[var(--theme-text)]">Current: Product Engineer @ Bahasa.ai | Jakarta, Indonesia</p>
					<p class="mt-4 mb- 4 text-[var(--theme-focused-foreground)]">Building, tinkering, and productizing new AI models.</p>
          <a href="https://storage.nizzy.xyz/CV_Unies_Ananda.pdf" class="mt-4 inline-block">Link to my CV</a>
				</div>
			</div>

			<Divider type="GRADIENT" class="my-8" />

			<div class="mb-12">
				<p class="text-[var(--theme-text)] text-xl mb-4">WORK</p>
				<div>
					<div>
						<p class="text-[var(--theme-text)] text-lg">Product Engineer at Bahasa.ai</p>
						<p class="text-[var(--theme-text)]">December 2023 - Now</p>
						<ul class="ml-4 mt-2 text-[var(--theme-text)] space-y-2">
							<li class="flex items-start"><span class="mr-2">◆</span>Develop and maintain Transkrip.com, the leading transcription app used by more than 100,000 users in Indonesia.</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Redesigned the landing page which increases conversion rate from 1% to 5%.</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Increased monthly revenue from IDR35 million to IDR100 million in two quarters through organic growth, paid ads, and customer focused and iterative product development.</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Technologies: Next.js, React, TailwindCSS, Shadcn UI</li>
						</ul>
					</div>

					<Divider type="SINGLE" class="my-4" />

					<div>
						<p class="text-[var(--theme-text)] text-lg">Founder at Transkrip.xyz</p>
						<p class="text-[var(--theme-text)]">April 2023 - November 2023</p>
						<ul class="ml-4 mt-2 text-[var(--theme-text)] space-y-2">
							<li class="flex items-start"><span class="mr-2">◆</span>Developed the leading transcription app for students and professionals in Indonesia from 0 to more than 50,000 users in months from
organic growth, mainly social media and SEO.</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Grew monthly revenue from IDR0 to IDR35 million.</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Technologies: Python, Flask, Express, React, Next.js, Postgres, Vercel, Docker, GCP , AWS</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
