---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Divider from '../components/Divider.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="p-4 leading-relaxed min-h-screen">
		<Header />
		<main class="max-w-3xl border border-[var(--theme-border)] mx-auto mt-6 p-8">
			<div class="mb-4">
				<div>
					<p class="text-[var(--theme-text)] text-3xl">Unies Ananda Raja</p>
					<p class="text-[var(--theme-text)]">Current: Product Lead @ Bahasa.ai | Jakarta, Indonesia</p>
					<p class="mt-4 text-[var(--theme-focused-foreground)]">Building, tinkering, and productizing new AI models.</p>
				</div>
			</div>

			<Divider type="GRADIENT" class="my-8" />

			<div class="mb-12">
				<p class="text-[var(--theme-text)] text-xl mb-4">WORK</p>
				<div>
					<div>
						<p class="text-[var(--theme-text)] text-lg">Product Lead at Bahasa.ai</p>
						<p class="text-[var(--theme-text)]">December 2023 - Now</p>
						<ul class="ml-4 mt-2 text-[var(--theme-text)] space-y-2">
							<li class="flex items-start"><span class="mr-2">◆</span>My startup (transkrip.xyz) was acquired by Bahasa.ai</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Lead product development for Meeting.ai & Transkrip.com</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Doubled total revenue, grew user base to 100K+</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Leading new product initiative: Sound.so</li>
						</ul>
					</div>

					<Divider type="SINGLE" class="my-4" />

					<div>
						<p class="text-[var(--theme-text)] text-lg">Founder at Transkrip.xyz</p>
						<p class="text-[var(--theme-text)]">April 2023 - November 2023</p>
						<ul class="ml-4 mt-2 text-[var(--theme-text)] space-y-2">
							<li class="flex items-start"><span class="mr-2">◆</span>Built audio/video transcription web app</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Grew user base from 0 to 50K+ in 9 months</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Revenue growth: 0 to >35M IDR monthly</li>
							<li class="flex items-start"><span class="mr-2">◆</span>Acquired in less than a year</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
